:root {
    --primary: #218dd0;
    --secondary: #bd22b8;
    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: var(--primary);
    padding: 1em;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.navbar-list {
    display: flex;
    gap: 1em;
    align-items: center;
}

form {
    padding: 1em 2em;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary);
    width: max-content;
    min-width: 300px;
    margin: auto;
}

form h1 {
    margin-bottom: 1em;
}

.text-center {
    text-align: center;
}

label {
    display: block;
}

input,
textarea {
    border: 1px solid var(--secondary);
    border-radius: var(--border-radius);
    padding: 0.3em 0.6em;
    width: 100%;
}

.group-input {
    margin-bottom: 1em;
}

.btn {
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-primary {
    background: var(--primary);
    color: whitesmoke;
}

.btn-primary:hover {
    background: #176da2;
}

.btn-secondary {
    background: var(--secondary);
    color: whitesmoke;
}

.btn-secondary:hover {
    background: #871883;
}

.btn-danger {
    background: #be3838;
    color: white;
}

.btn-danger:hover {
    background: #a52f2f;
}

.container {
    width: 90%;
    margin: auto;
}

.container:first-child {
    margin-top: 1em;
}

.alert {
    padding: 1em;
    border-radius: var(--border-radius);
    margin-bottom: 1em;
    text-align: center;
}

.alert-danger {
    background: #be3838;
    border: 1px solid #e63535;
    color: white;
}

table {
    width: 100%;
    border: 1px solid grey;
    text-align: center;
    border-radius: var(--border-radius);
}

tr,
td {
    padding: 0.5em;
}
